.btn {
	border-radius: 6px !important;
}

button.btn-save {
	color: #29a867 !important;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	background: #ffffff;
	border: 1px solid #29a867;
	box-sizing: border-box;

	&:hover {
		background-color: #29a867;
		color: #ffffff !important;
		border: 1px solid #c4c4c4;
	}
}

input.form-control,
.form-select,
textarea.form-control {
	font-family: "Poppins";
	color: #bbbbbb;
	background-color: #f3f3f3;
	border: 1px solid #ffffff;
	border-radius: 8px !important;
}

.form-label {
	font-family: Poppins;
	font-size: 16px;
	color: #0c0d36;
}

.qt {
	max-width: 100%;
	border: 0.5px solid #979797;
	border-radius: 6px;

	button {
		border: none;
		outline: none;
		background: none;
	padding: 0.3rem 1rem;
	}

	.count {
		padding: 0.3rem 0;
	}
}

.shopping-cart {
	p {
		color: #979797;
		font-size: 14px;
	}

	h6.subprice {
		color: #0c0d36;
	}

	.total {
		font-size: 18px;
		h5 {
			font-weight: 500;
			color: #29a867;
		}
	}
}
